# WhatsApp fixtures here are small, AWS-Open-Data-licensed, and committed
# (see README.md). Full multi-GB source images live in the issen corpus,
# gitignored there. Nothing to ignore in this directory.
